body {
    font-family: Arial;
    background-color: #f0f0f0;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border: 1px solid gray;
}
body {
    font-family: Arial;
}

table {
    border-collapse: collapse;
    width: 70%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

thead {
    background-color: lightgray;
}

tfoot {
    background-color: #eee;
    font-weight: bold;
}
body {
    text-align: center;
    font-family: Arial;
}

img, audio, video {
    margin: 15px;
}
